

/* Contact */

	#contact {
		border-bottom: solid 1px _palette(border);
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 0 !important;
		border-right: solid 1px _palette(border);
			
			> section {
				@include padding(4em, 4em, (0, 3em, 0, 0));
				border-right: solid 1px _palette(border);
		}

		@include breakpoint(medium) {
			grid-template-columns: 1fr;

			> section {
				@include padding(3em, 3em, (0, 2em, 0, 0));
			}
		}

		@include breakpoint(small) {
			grid-template-columns: 1fr;

			> section {
				@include padding(2em, 2em, (0, 0, 0, 0));
			}
		}
	}