
/* Main */
	#main {
		background-color: _palette(bg);

		> * {
			border-top: solid 1px _palette(border);

			&:first-child {
				border-top: 0;
			}

			@include inner;
		}

		&.alt {
			background-color: transparent;
			border-bottom: solid 1px _palette(border);
		}

		#angularjs-two {
			.content {
				background-color: _palette(bg-4);
			}
		}

		#reactjs-two {
			.image {
			}
			> section {
				&:nth-child(1) {
					background-color: rgb(112, 135, 143);
				}

				&:nth-child(2) {
					background-color: #6d6b6b;
				}
			}
		} 
	}